@model Shoping.Models.userr

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<style>
    #box {
        border: 1px solid black;
        height: 100%;
    }

    #main-div {
        height: 900px;
        /*background-image: url('../../Content/img/building6.jpg');*/
        background-size: 100% 900px;
         background-color: skyblue;margin-top:-20px;
    }

    .insidebox {
        border: 1px solid black;
        margin: 10% auto 10% auto;
        max-width: 500px;
        min-width: 200px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 10px;
        background-color: whitesmoke;
    }

    div h1 {
        text-align: center;
    }

    p#para {
        text-align: center;
        font-size: 14px;
    }
    /**{
        background-color: skyblue;
    }*/
</style>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<div id="main-div">
    <div id="box" class="img-responsive">
        @using (Html.BeginForm("SignUp",
                        "User",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="insidebox">
                <div> <h1>Sign up</h1></div>


                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.EditorFor(model => model.userr_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your name" } })
                    </div>
                    <span style="color: red">
                        @Html.ValidationMessageFor(model => model.userr_name)
                    </span>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.EditorFor(model => model.userr_email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Email" } })
                    </div>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.userr_email)
                    </span>
                </div>




                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.EditorFor(model => model.userr_password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your password" } })
                    </div>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.userr_password)
                    </span>
                </div>



                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.EditorFor(model => model.userr_phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your phone" } })
                    </div>
                    <span style="color:red">
                        @Html.ValidationMessageFor(model => model.userr_phone)
                    </span>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        <input type="file" name="file" id="file" class="form-control" required="required" />
                    </div>
                    @*<span style="color:red">
                        @Html.ValidationMessageFor(model => model.userr_image)
                    </span>*@

                </div>


                @if (ViewBag.error != null)
                {
                    <div style="color:red">@ViewBag.error</div>
                }

                <div class="form-group">
                    <input type="submit" value="Sign up" class="btn btn-success btn-block" />
                </div>
                <div class="form-group">
                    <p style="color:red">@ViewBag.error</p>
                </div>



            </div>

        }
    </div>

</div>

<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

